node_modules/

.DS_Store
Thumbs.db

.vscode/
.idea/
*.sw?

package-lock.json
yarn.lock
pnpm-lock.yaml

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

test-results.html
dist/
build/
out/
bundle.js

*.tsbuildinfo

coverage/
test-results.html
reports/
jest-html-reporters-*.html

.env
.env.*.local
