@use "sass:color";
@use "./colors";

.joke {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: colors.$light-gray;
	padding: 2rem;
}

.joke__card {
	background: colors.$white;
	border-radius: 1rem;
	box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
	padding: 2rem;
	text-align: center;
	max-width: 28rem;
	width: 100%;
}

.joke__text {
	font-size: 1.2rem;
	margin-bottom: 2rem;
}

.joke__next-button {
	background-color: colors.$primary-color;
	color: colors.$white;
	font-size: 1rem;
	padding: 0.75rem 1.5rem;
	border-radius: 0.5rem;
	transition: background-color 0.2s ease-in-out;

	&:hover {
		background-color: color.adjust(colors.$primary-color, $lightness: +10%);
	}
}
